#left {
    width: 70%;
    height: 200px;
    background-color: yellow;
    float: left;

}
#middle {
    width: 30%; 
    height: 200px;
    background-color: blue;
    float: left;
    
}
