.container {
    position: relative;
    width: 250px;
    height: 250px;
    img {
        position: absolute;
    }
    #nosek {
        top: 100px;
        left: 100px
    }
    #oko_lewe {
        top: 40px;
        left: 50px
    }
    #oko_prawe {
        top: 40px;
        left: 140px;
    }
    #usta {
        bottom: 40px;
        left: 40px
    }
}