:root {
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}

body {
    background-color: cadetblue;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
}

.red {
    background-color: red;
    border: 3px solid aqua;
}

.green {
    background-color: green;
    border: 3px solid brown;
}

.blue {
    background-color: blue;
    border: 3px solid yellow;
}

.white {
    background-color: white;
    border: 3px solid black;
}

